.allTask_wrapper {
  display: flex;
  flex-direction: column;
  /* border: 1px solid red; */
  width: 20vw;
}
.newTaskSection {
  display: flex;
  justify-content: space-between;
  /* border: 1px solid red; */
  width: 100%;
  margin-top: 1rem;
}
.newTaskInput {
  color: rgb(124, 121, 121);
  border-radius: 10px;
  flex: 0 0 70%;
  padding: 7px;
  border-style: solid;
}
.addTaskButton {
  background-color: rgb(65, 65, 111);
  border: 10px;
  flex: 0 0 20%;
  border-radius: 10px;
  color: white;
}
.taskListWrapper {
  /* border: 1px solid red; */
  width: 20vw;
}
.taskWrapper {
  margin-top: 1rem;
  text-align: left;
  /* border: 1px solid red; */
  /* padding: 10px 0; */
}
.taskWrapper > input {
  margin-right: 10px;
}
.crossThrough {
  text-decoration: line-through;
}
.taskRemoveBtn {
  float: right;
  background-color: blue;
  color: white;
  padding: 3px 5px;
  margin-bottom: 5px;
  border-radius: 10px;
}
.deleteAll_btn_wrapper {
  width: 100%;
  margin-top: 1rem;
  /* border: 1px solid red; */
}
.deleteAll_btn {
  background-color: red;
  color: white;
  border-radius: 10px;
  float: right;
  padding: 5px;
  
  font-weight: 700;
}
button{
    cursor: pointer;
    border: none;
}
