.layout {
  /* border: 10px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.filter_title {
  border-bottom: 1px solid rgb(202, 196, 196);
  display: flex;
  width: 20vw;
  justify-content: space-between;
}
.filter_title > a{
    text-decoration: none;
    padding: 0.7rem 1rem;
    color: black;
}
.activeLink{
    border-bottom: 2px solid blue;
}
